{% extends "shop/base.html" %}

{% load static %}

{% block content %}
   <div class="container">
        <div class="row  mt-3">
          <div class="col-12 card mb-3 p-2">
              <ul class="list-group" id="item-list">
                  <h3 class="text-center">Voici votre liste</h3>
              
          
              </ul>
          </div>
      </div>
   </div>
  
  <div class="container">
    <div class="row mt-3">
      <div class="col-12 card mb-3 p-2">
          <form method="POST">
              {% csrf_token %}
              <input type="hidden" id="items" name="items">
              <div class="form-row">
                  <div class="form-group col-md-6">
                          <label for="nom">Nom</label>
                          <input type="text" name="nom" class="form-control" id="nom" placeholder="Janot">
                  </div>
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" name ="email" class="form-control" id="email" placeholder="kdj@gmail.com">
                </div>
              </div>
              <div class="form-group">
                <label for="address">Adresse</label>
                <input type="text" name="address" class="form-control" id="address" placeholder="1234 Main St">
              </div>
              <!-- <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div> -->
              <div class="form-row">
                <div class="form-group col-md-6">
                      <label for="ville">Ville</label>
                      <input type="text" name="ville" class="form-control" id="ville">
                </div>
                <div class="form-group col-md-4">
                      <label for="pays">Pays</label>
                      <select id="pays" name="pays" class="form-control">
                          <option selected>Cameroun</option>
                          <option>Gabon</option>
                          <option>Tchad</option>
                          <option>Nigeria</option>
                          <option>France</option>
                          <option>RCA</option>
                      </select>
                </div>
                  <div class="form-group col-md-2">
                      <label for="zipcode">Zip</label>
                      <input name="zipcode" id="zipcode" type="text" class="form-control" >
                </div>
              </div>
  
              <div class="form-group col-md-12 text-center">
                  <label for="gridCheck">Somme total à payer  </label>
                  <input name="total" type="readonly" id="total"class="bg-dark text-warning form-control text-center" >
              </div>
            </div>
     
          </div>
                <div class="row text-center">
                  <div class="col-12 card mb-3 p-2"><button type="submit" class="btn btn-primary text-center">Commander</button></div>
                </div>
              
            </form>
      
  </div>

{% endblock %}


{% block js %}
  <script type="text/javascript">
    if(localStorage.getItem('panier') == null){
        var panier = {};
    }else{
        panier = JSON.parse(localStorage.getItem('panier'));
    }
    var total = 0;
    var nombre = 0;
    for(item in panier){
        let nom = panier[item][1];
        let quantite = panier[item][0];
        let prix = panier[item][2]; 
        nombre += quantite;
        total += prix;
        let itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
            
          ${nom}
            <span class="badge badge-primary badge-pill">QTE :  ${quantite}</span>
            <span class="badge badge-warning badge-pill">$ ${prix}</span>
           
        </li>`;
        
        $('#item-list').append(itemString);
    }

    let itemNombre = `<li class="list-group-item d-flex justify-content-between align-items-center">
        <b class="bg-danger">PRIX ET QUANTITE TOTAL</b>
        <span class="badge badge-danger badge-pill">Total QTE :  ${nombre}</span>
        <span class="badge badge-danger badge-pill">Total :$  ${total}</span>
       
    </li>`;
    
    $('#item-list').append(itemNombre);
    $('#total').val("$ "+total);
    $('#items').val(JSON.stringify(panier));

  </script>
{% endblock %}